html {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#wrapper {
    width: 420px;
    box-shadow: 0px 4px 14px rgba(0,0,0,0.2);
}